@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&family=Dancing+Script&family=Lobster&family=Yusei+Magic&display=swap');

*
{
	margin: 0;
	padding: 0;
}

html {
  font-size: 55%;
}
@media screen and (min-width: 768px) {
  html {
    font-size: 75%;
    background-image: 60%;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 100%;
  }
}

.bttn {
  cursor: pointer;
  font-family: 'Otomanopee One', sans-serif;
  text-align: center;
  margin: 20px;
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: rgb(145, 145, 145);
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.712);
  box-shadow:
   2px 2px 1px rgb(110, 110, 110),
  -2px  2px 1px rgb(110, 110, 110),
   2px -2px 1px rgb(110, 110, 110),
  -2px -2px 1px rgb(110, 110, 110),
   2px  0px 1px rgb(110, 110, 110),
   0px  2px 1px rgb(110, 110, 110),
  -2px  0px 1px rgb(110, 110, 110),
   0px -2px 1px rgb(110, 110, 110);
}


.bttn:hover{
  color: rgb(255, 255, 255);
  background-color: rgba(46, 45, 45, 0.795);
  box-shadow: 0 0 6px rgb(250, 246, 193);
  transition: background-color .6s, color .9s, box-shadow .7s;
}

.bttn:active {
  color: rgb(53, 53, 53);
  background-color: rgb(226, 226, 226);
}

.parent {
  width: 100%;
  display: flex;
  justify-content: center;
}
.story {
  background-image: url("/maxkyoto.jpeg");
  background-size: cover;
  background-position: center;
  justify-content: center;
  width: 85%;
  height: 80vh;
  background-color:rgba(255, 255, 255, 0.349);
  background-blend-mode:lighten;
  align-items: center;
  overflow: scroll;
}
.text_box {
  display: block;
  text-align: center;
  margin: auto;
  width: 78%;
  height: 50%;
}

p{
  color: rgb(163, 205, 241);
  font-size: 20px;
}


.eng {
  display        : inline-block;
  color          : #ffffff;
  font-size      : 18px;
  letter-spacing : 3px;
  text-shadow    : 
       2px  2px 1px rgb(80, 80, 80),
      -2px  2px 1px rgb(80, 80, 80),
       2px -2px 1px rgb(80, 80, 80),
      -2px -2px 1px rgb(80, 80, 80),
       2px  0px 1px rgb(80, 80, 80),
       0px  2px 1px rgb(80, 80, 80),
      -2px  0px 1px rgb(80, 80, 80),
       0px -2px 1px rgb(80, 80, 80);
  font-family: 'Otomanopee One', sans-serif;
}

.en_title,
.jp_title  {
  display        : inline-block;
  color          : #ffffff;
  font-size      : 21px;
  letter-spacing : 4px;
  text-shadow    : 
       2px  2px 1px rgb(80, 80, 80),
      -2px  2px 1px rgb(80, 80, 80),
       2px -2px 1px rgb(80, 80, 80),
      -2px -2px 1px rgb(80, 80, 80),
       2px  0px 1px rgb(80, 80, 80),
       0px  2px 1px rgb(80, 80, 80),
      -2px  0px 1px rgb(80, 80, 80),
       0px -2px 1px rgb(80, 80, 80);
  font-family: 'Otomanopee One', sans-serif;
}

.jpn {
  display        : inline-block;
  color          : #ffffff;
  font-size      : 14pt; 
  letter-spacing : 4px;
  text-shadow    : 
       2px  2px 1px rgb(80, 80, 80),
      -2px  2px 1px rgb(80, 80, 80),
       2px -2px 1px rgb(80, 80, 80),
      -2px -2px 1px rgb(80, 80, 80),
       2px  0px 1px rgb(80, 80, 80),
       0px  2px 1px rgb(80, 80, 80),
      -2px  0px 1px rgb(80, 80, 80),
       0px -2px 1px rgb(80, 80, 80);
  font-family: 'Yusei Magic', sans-serif;
}



