@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Yusei+Magic&display=swap');

*
{
	margin: 0;
	padding: 0;
}

.bttn {
  margin-top: 5px;
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color:lightgray;
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.en_switch:hover,
.jp_switch:hover {
  color: gray;
}

.en_switch:active,
.jp_switch:active {
  color: lightgray;
}


.parent {
  height: 85vh;
  display: flex;
}
.story {
  text-align: center;
  width: 50vw;
  height: 85vh;
  background-color: black;
}

.picture {
  width: 50%;
  height: 85vh;
  background-image: url("/maxfuji.png");
  background-size: cover;
  background-position: center;
}

p{
  color: rgb(163, 205, 241);
}

.eng,
.en_switch,
.en_title {
  color: white;
  font-family: 'Lobster', cursive;
}

.jpn,
.jp_switch,
.jp_title {
  color: white;
  font-family: 'Yusei Magic', sans-serif;
}
