@import url('https://fonts.googleapis.com/css2?family=Asset&family=Rock+Salt&display&family=Palette+Mosaic&family=Roboto&family=Source+Sans+Pro:wght@700&family=Style+Script&family=Tourney:ital@0;1&display=swap');

*
{
	margin: 0;
	padding: 0;
}

@keyframes gradual {
  0% {
    color: rgb(253, 202, 168);
  }
   25% {
    color: rgb(121, 230, 144);
  }
  50% {
    color: rgb(168, 200, 238);
  }
 75% {
    color: rgb(250, 171, 239);
  }
  100% {
    color: rgb(249, 250, 171);
  }
}

header {
	width: 100%;
	height: 10vh;
	background-color:rgba(255, 255, 255, 0.7);
	border-bottom: solid 1px black ;
}

.head_t {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.head_title {
	text-shadow:
    2px 0 0 black,
    0 2px 0 black,
    -2px 0 0 black,
    0 -2px 0 black;
	font-family: 'Asset', cursive;
	font-size: x-large;
  text-decoration: none;
	animation-name: gradual;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

html {
  font-size: 65%;
}
@media screen and (min-width: 768px) {
  html {
    font-size: 80%;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 100%;
  }
}


body
{
	font-family: 'Source Sans Pro', sans-serif;
	background-image:url("/max.kyoto.jpeg");
	background-size: cover;
	background-position: center;
}
section
{
	position: relative;
	background-color: transparent;
	width: 100%;
	height: 80vh;
	display: flex;
	overflow: hidden;
}
section div
{
	position: relative;
	width: 75%;
  background: transparent;
	box-sizing: border-box;
	border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

section div:nth-child(1)
{
	width: 25%;
	height: 80vh;
  background-color:rgba(116, 250, 243, 0.55);
	overflow: hidden;
	border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

}
section div h2
{
	position: absolute;
	white-space: nowrap;
}
section div:nth-child(1) h2
{
	left: 100%;
	animation: animate 90s linear infinite;
}

section div:nth-child(2) h2
{
	left: 0;
  animation: animate 90s linear infinite;
  -webkit-text-stroke: 2px;
	-webkit-text-stroke-color: rgb(224, 216, 216);
	-webkit-text-fill-color: white;
	
}
section div h2
{
	font-family: 'Asset', cursive;
	line-height: 20vh;
  font-size: 2em;
}
@keyframes animate
{
	0%
	{
		transform: translateX(0);
	}
/*	50%
	{
		transform: translateX(-100%);
	}*/
	100%
	{
		transform: translateX(-100%);
	}
}

.menu {
	height: 50%;
  z-index: 30;
  position: absolute;
  list-style: none;
  font-family: 'Style Script', cursive;
  font-size: 4vmax;
  text-align: center;
  top: 50%; 
  left: 50%; 
  transform: translateY(-50%) translateX(-50%);
}

.menu_link {
	padding-bottom: 5px;
	text-shadow: 0 3px 3px rgb(59, 44, 194);
	color: white;
  text-decoration: none;
	display: inline-block;
	overflow: scroll;
}

.menu_link:hover {
	color: rgb(236, 236, 158);
	text-shadow: 0 8px 5px darkslateblue;
	transition: text-shadow .9s, color .7s;
}

.menu_link:active {
	text-shadow: 0 3px 3px linen;
	transition: text-shadow .1s;
}


footer {
  width: 100%;
  height: 10vh;
  background-color:rgba(255, 255, 255, 0.6);
  border-top: solid 1px black; 
}