@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&family=Dancing+Script&family=Lobster&family=Yusei+Magic&display=swap');

*
{
	margin: 0;
	padding: 0;
}

html {
  font-size: 55%;
}
@media screen and (min-width: 768px) {
  html {
    font-size: 75%;
    background-image: 60%;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 100%;
  }
}

.chat-main {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: 'Otomanopee One', sans-serif;
}

.chat-room {
  border-left: solid slategray;
  border-right: solid slategray;
  width: 80%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  overflow: scroll;
}

.chat-title {
  font-size: 40px;
  font-family: 'Dancing Script', sans-serif;
}

.content-form {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-message {
  width: 250px;
  height: 27px;
}

.form-submit{
  display       : inline-block;
  font-size     : 12px;
  text-align    : center;
  cursor        : pointer;
  padding       : 5px 20px;
  background    : rgba(0, 0, 0, 0.76);
  color         : #ffffff;
  line-height   : 1em;
  opacity       : 1;
  transition    : .3s;
  box-shadow    : 0px 2px 2px #666666;
}

.submit-bttn:hover {
  box-shadow    : none;
  opacity       : 0.8;
}

.heading {
  margin: 15px 0 0 0;
  border-top: dotted rgb(40, 40, 104) 2px;
  border-bottom: dotted rgb(40, 40, 104) 2px;
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  background-color: rgb(238, 235, 235);
}
.name-date-content {
  padding: 10px 0;
  border-bottom: dotted rgb(161, 161, 235) 2px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.message-date,
.h-date {
  width: 20%;
}
.message-user,
.h-user {
  width: 20%;
}

.message-content,
.h-content {
  width: 60%;
}

.message-delete {
  width: 5%;
}

.trash_icon {
  font-size: large;
  color: lightgray;
}

.trash_icon:hover {
  color: black;
  text-shadow: 0 3px 0 gold;
  transition: .8s;
}