<div class="parent">

    <div class="story"> 
    <button id="switch-lang">Switch Language</button>
        
    <h2 class="title"><span lang="en">A story of Max</span> <span lang="jp">マックスの生い立ち</span></h2>
        
    <p lang="jp">日本語</p>
        
    <p lang="en">English</p>
    </div>

    <div class="picture" title="max at fuji">

    </div>

</div>

