<div class="parent">

    <div class="story"> 
      <button class="bttn" id="switch-lang"><span class="en_switch" lang="en">English</span> | <span class="jp_switch" lang="jp">日本語</span></button>
          
      <h2><span class="en_title" lang="en">A story of Max</span> <span class="jp_title" lang="jp">マックスの生い立ち</span></h2>
          
      <p class="eng" lang="en">English TEXT</p>

      <p class="jpn" lang="jp">日本語テキスト</p>
        
    </div>

    <div class="picture" title="max at fuji"> </div>

</div>

