<div class="chat-main">
  <div class="chat-room">
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeXjRz0_8ZmYpg5ueRO8ysYkDySOpAPlN2jXPMH81cNQh2Spw/viewform?embedded=true" width="640" height="640" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
  </div>
</div>