<section>
			<div class="menu-left">
        <ul class="menu">
        <li> <a class="menu_link" href="/memories/bio"> Profile </a></li>
        <li> <a class="menu_link" href="/memories/gallery"> Gallery </a></li>
        <li> <a class="menu_link" href="#"> Chat About Max </a></li>
        <li> <a class="menu_link" href="#"> Contact </a></li>
        </ul>
      </div>
</section>