<section>
			<div class="menu-left">
        <ul class="menu">
        <li> <a class="menu_link" href="/memories/bio"><i class="far fa-address-card"></i><br> Profile </a></li>
        <li> <a class="menu_link" href="/memories/gallery"><i class="fas fa-camera-retro"></i><br> Gallery </a></li>
        <li> <a class="menu_link" href="#"><i class="far fa-comments"></i><br> Chat About Max </a></li>
        <li> <a class="menu_link" href="#"><i class="far fa-envelope"></i><br> Contact </a></li>
        </ul>
      </div>
</section>