<div class="main">
  <% if flash[:notice] %>
    <div class="flash"><%= flash[:notice] %></div>
  <% end %>

  <div class="section">
    <video playsinline autoplay muted loop>
        <source src="assets/max-biwa.mp4" type="video/mp4">
    </video>
    <div class="menu-left">
      <ul class="menu">
      <li> <a class="menu_link" href="/memories/bio"><i class="far fa-address-card"></i><br> Profile </a></li>
      <li> <a class="menu_link" href="/memories/gallery"><i class="fas fa-camera-retro"></i><br> Gallery </a></li>
      <li> <a class="menu_link" href="/chats/index"><i class="far fa-comments"></i><br> Chat About Max </a></li>
      <li> <a class="menu_link" href="/memories/contact"><i class="far fa-envelope"></i><br> Contact Us </a></li>
      </ul>
    </div>
  </div>
</div>
