<section>
			<div>
        <ul class="menu">
        <li class="lis"> <a href="/memories/bio"> Profile </a></li>
        <li class="lis"> <a href="#"> Gallery </a></li>
        <li class="lis"> <a href="#"> Contact </a></li>
        </ul>

				<h2>La fabulosa vida de un perro viajero. 
        The fabulous life of a travelling dog. La fabulosa vida de un perro viajero. 
        The fabulous life of a travelling dog.</h2>
			</div>

			<div class="top_pic" title="Max on train"> 
				<h2>La fabulosa vida de un perro viajero. 
        The fabulous life of a travelling dog. La fabulosa vida de un perro viajero. 
        The fabulous life of a travelling dog.</h2>
			</div>
      
</section>