/* sign upとLog in、両方で私用*/


.form-header p {
  font: 20px;
  color: black;
  font: bold;
}

.cancel-text {
  margin-top: 20px;
  font: 20px;
  color: black;
  font: bold;
}

.submit-bttn {
  margin-top    : 10px;
  display       : inline-block;
  font-size     : 12px;
  text-align    : center;
  cursor        : pointer;
  padding       : 8px 30px;
  background    : rgba(0, 0, 0, 0.76);
  color         : #ffffff;
  line-height   : 1em;
  opacity       : 1;
  transition    : .3s;
  box-shadow    : 3px 3px 3px #666666;
}
.submit-bttn:hover {
  box-shadow    : none;
  opacity       : 0.8;
}

.submit-back-bttn {
  margin        : 10px 0;
  display       : inline-block;
  font-size     : 12px;
  text-align    : center;
  cursor        : pointer;
  padding       : 8px 30px;
  background    : rgba(0, 0, 0, 0.76);
  color         : #ffffff;
  line-height   : 1em;
  opacity       : 1;
  transition    : .3s;
  box-shadow    : 3px 3px 3px #666666;
}

.submit-back-bttn:hover {
  box-shadow    : none;
  opacity       : 0.8;
}


.side {
  display: flex;
  justify-content: center;
}

#image-list img{
  height: auto;
  width: 100%;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  object-fit: cover;
}
